html{
	font-size: 10px;
	height: 100%;
}
body{
	height: 100%;
	padding: 0 0;
	margin: 0 0;
	background-color: white !important;
}
ul,li{
	margin: 0 0;
	padding: 0 0;
}
.mui-content{
	background: none !important;
}
.title-left{
	text-align: left !important;
}
.title-left .route{
	display:inline-block;
	height: 100%;
	width: auto;
	padding: 0 0.6rem;
	position:relative;
	font-size: 14px;
}
.title-left .route .route-horn-top{
	height: 0rem;
	width: 0rem;
	border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    border-left: 0.8rem solid #f7f7f7;
    position: absolute;
    top: 0.1rem;
    left: -0.7rem;
}
.title-left .route .route-horn{
	height: 0rem;
	width: 0rem;
	border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    border-left: 0.8rem solid #ADADAD;
    position: absolute;
    top: 0.1rem;
    left: -0.6rem;
}
.book-body-main{
	height:22rem;
	width: 100%;
	background-color:#F7F7F7;
}
.book-body-main img{
	width: 19%;
	margin-top: 0.8rem;
	margin-left: 0.8rem;
	border: 1px solid #4F4F4F;
	max-width: 156px;
}
.book-body-main .book-information{
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	width: 76%;
	height: 99%;
	position: relative;
}
.book-body-main .book-information h3{
	margin-top: 1.2rem;
	font-size: 2.2rem;
	display: inline-block;
}
.book-body-main .book-information span{
	font-size: 1.6rem;
	line-height: 2.5rem;
}
.book-body-main .book-information a{
	font-size:1.2rem;
	color: #D0D0D0;
}
.book-body-main .book-information .btn-div{
	width: 100%;
	margin: 0.8rem 0;
	position: absolute;
	bottom: 0px;
}
.book-body-main .book-information .btn-div .btn-read{
	display: inline-block;
	font-size: 2rem;
	line-height: 2.4rem;
	padding: 0.4rem 2rem;
	background-color: #bf2c24;
	color: white;
	vertical-align: top;
}
.book-body-main .book-information .btn-div .add-bookshelf{
	display: inline-block;
	vertical-align: top;
	font-size: 2rem;
	line-height: 2.4rem;
	padding: 0.4rem 2rem;
	background-color: white;
	color: #3f5a93;
	border: 1px solid #3f5a93;
}
.tab-head-div{
	width: 100%;
	height: auto;
}
.tab-head-div ul{
	overflow: hidden;
	height: auto;
	width: 100%;
	padding: 0 0;
	margin: 0 0;
}
.tab-head-div ul li{
	width: 33.33%;
	float: left;
	list-style: none;
	font-size: 1.4rem;
	line-height: 2.5rem;
	padding: 0.3rem 0.6rem;
	border: 1px solid skyblue;
	text-align:center;
	background-color: skyblue;
	color: white;
}
.tab-head-div ul li.on{
	color: #272727;
	background-color: white;
	border-top-color: skyblue;
}
.mui-slider .mui-slider-group .mui-slider-item{
	background-color: white;
}

.brief-introduction{
	font-size: 10px;
}
.brief-introduction p{
	font-size: 1.2rem;
	text-indent: 2rem;
}
#pNum{
	float: right;
	padding: 1.2rem;
}
.comment_items{
	margin-top: 1em;
	margin-left: 1.2em;
	border-bottom: 1px solid #F1F1F1;
}
#bookIntroduction{
	margin-left: 1.2em;
	border-bottom: 1px solid #F1F1F1;
}
#bookVersions table{
	width:100%;
	text-align: center;
}
#bookVersions{
	margin: 1em;
}
