
.SideScrollDiv{
	
}
.SideScrollDiv .userHeadPortrait{
	width: 6em;
	height: 6em;
	border-radius: 3em;
	margin: 0 auto;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.SideScrollDiv h3{
	color:white;
	text-align: center;
}
.banner-div{
	/*height:26rem !important;*/
}
.banner-div .mui-slider-group .mui-slider-item a img{
	height: 100%;
}
