
.SideScrollDiv{
	
}
.SideScrollDiv .userHeadPortrait{
	width: 6em;
	height: 6em;
	border-radius: 3em;
	margin: 0 auto;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.SideScrollDiv h3{
	color:white;
	text-align: center;
}
.banner-div{
	/*height:26rem !important;*/
}
.banner-div .mui-slider-group .mui-slider-item a img{
	height: 100%;
}
#newBookRecommended li{
	padding-bottom: 10px;
	padding-top: 10px;
	height: 10em;
}
#newBookRecommended li img{
	height: 95%;
	width: 13%;
	max-width: 110px;
	max-height: 109px;
}
#offCanvasSide{
	width: 50%;
	background-color: #FFFFFF;
}
#book-information{
	width: 80%;
	height: 100%;
	font-size: 12px;
	overflow:hidden;
}
#hot{
	background-color: #fff;
	padding: 5px;
	font-size: 13px;
}
#topIconSearch{
	float: right;
}
/*.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after {
	content: none; 
}
.mui-table-view-cell.mui-collapse>.mui-navigate-right:after, .mui-table-view-cell.mui-collapse>.mui-push-right:after {
	content: none; 
}
.mui-navigate-right:after, .mui-push-right:after {
	content: none; 
}*/
#id-sideColumn-bottom-set{
	position: absolute;
	bottom: 2em;
	width: 100%;
	padding: 0px 2em;
}
#id-sideColumn-bottom-exit{
	float: right;
}
#id-sideColumn-bottom-exit span{
	float: right;
	width: 38px;
}
#id-sideColumn-bottom-nightMode{
	float: left;
}
#id-sideColumn-bottom-nightMode span{
	float: left;
	width: 38px;
}