.mui-segmented-control .mui-control-item.mui-active {
color: #fff;
background-color: #6699cc;
}
.mui-control-content>p{
	width: 80%;
	margin: 20px auto;
	line-height: 40px;
	
}
.mui-control-content  p input,select{
	width: 50%;
	margin-right: 10px;
	
}
.mui-control-content  p option{
	width: 50%;
	text-align: center;
	margin-right: 10%;
}
.mui-btn-block{
	width: 30%;
	height: 40px;
	font-size: 12px;
	padding: 9px 0;
	color: #AAAAAA;
}

.mui-control-content  p  .submit-bar{
	width: 20%;
	margin-left:10% ;
	color: #007AFF;
	
}

.mui-control-content .unit{
	height: 200px;
	border: #AAAAAA solid 2px;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.mui-control-content .unit p{
	color: #8f8f94;
}
.mui-control-content .unit p:first-child{
	color: #007AFF;
}

.mui-control-content .unit p:last-child{
	float: right;
	margin-right: 10%;
}
.mui-control-content .unit p:last-child a{
	margin-right: 20px;
	border: #007AFF solid 1px;
	color: #8F8F94;
	border-radius: 5px;
	padding: 5px;
}











